.menu-hamburger {
    background-color: blue;
    border: none;
    padding: 1rem;
    cursor: pointer;
    color: white;
    font-size: 3rem;
    width: 10%;
    justify-content: center;
   
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }