.todos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.todo {
  width: 80%;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #b3f8f8;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    padding: 25px;
  }

  &__completed {
    margin-right: 50px;
  }
}
