.banner {
  $self: &;
  width: 100%;
  background-color: cadetblue;

  &__wrapper {
    display: flex;
    padding: 35px 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__img {
    width: 50%;

    img {
      width: 100%;
    }
  }

  &_black {
    background-color: #2f2f2f;

    #{$self}__title,
    #{$self}__text {
      color: white;
    }
  }
}
