.header {
  $self: &;
  width: 100%;
  background-color: #daeeee;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  &__log {
    width: 25px;
    height: 25px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 15px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    color: black;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  &_black {
    background-color: #4d4d4d;

    #{$self}__link {
      color: white;
    }
  }
}
