.label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #313037;
    margin-bottom: 10px;
    margin-top: 10px;
}

.textarea {
    resize: none;
    border: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    border-radius: 2px;
    outline: 0;
}